/* Main Background Color */
.body-container{
    background-color: black;
}

/* Waves */
.spacer{
    aspect-ratio: 900/450;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: -45%;
}

.layer1{
    background-image: url('./wave.svg');
}

.layer2{
    background-image: url('./wave2.svg');
    color: black;
}


/* FOR SCREEN SIZE < 1920px - My Screen*/
@media only screen and (max-width: 1920px){

/* ----- Profile Picture Container ------ */
.profile-container{
    background-color: purple;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    margin: auto;
    margin-top: 15%;
    clip-path: circle(50% at 50% 50%);
    text-align: center;
}


.prof{ /* Profile Picture */
    width: 300px;
    height: 400px;
}

.name{
    color: white;
    position: relative;
    top: -45px;
    font-family: Lucida Bright;
}

.job-title{
    color: white;
    position: relative;
    top: -100px;
    left: 670px;
    font-size: 35px;
    text-align: justify;
    font-family: Lucida Bright;
}


.profile-bar{
    background-color: #800080;
    color: white;
    height: 2px;
    width: 1000px; 
    margin: auto;
    margin-top: -140px;
}




/* ----- Nav Bar Container ------ */
.nav-bar{
    position: relative;
    top: -55px;
}

.homebtn{
    font-size: 15px;
    color: rgb(104, 103, 103);
    text-decoration: none;
}

.homebtn:hover{
    color: darkgrey;
}

.homebtn:active{
    color: purple;
}

.projects{
    margin-left: 400px;
    font-size: 15px;
    color: rgb(104, 103, 103);
    text-decoration: none;
}

.projects:hover{
    color: darkgrey;
}

.projects:active{
    color: purple;
}

.skills{
    margin-left: 50px;
    font-size: 15px;
    color: rgb(104, 103, 103);
    text-decoration: none;
}

.skills:hover{
    color: darkgrey;
}

.skills:active{
    color: purple;
}

.aboutMe{
    margin-left: 50px;
    font-size: 15px;
    color: rgb(104, 103, 103);
    text-decoration: none;
}

.aboutMe:hover{
    color: darkgrey;
}

.aboutMe:active{
    color: purple;
}

.resume{
    margin-left: 50px;
    font-size: 15px;
    color: rgb(104, 103, 103);
    text-decoration: none;
}

.resume:hover{
    color: darkgrey;
}

.resume:active{
    color: purple;
}

.contact-me{
    margin-left: 50px;
    font-size: 15px;
    color: rgb(104, 103, 103);
    text-decoration: none;
}

.contact-me:hover{
    color: darkgrey;
}

.contact-me:active{
    color: purple;
}



/* ----- Other ------*/
.tab-container{
    width: 50%;
    margin: auto;
}

.space{
    margin-top: 10%;
}


.break{
    background-color: #800080;
    color: white;
    height: 2px;
    width: 1000px; 
    margin: auto;
    margin-top: -140px;
}

/* ----- About Me Container ------*/
#aboutMe{
    padding-top: 11%;
}

.aboutMe-title{
    color: white;
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
    font-family: Lucida Bright;
}

.my-info{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: Lucida Bright;
}

.aboutMe-info{
    color: #212529;
    margin: auto;
    font-size: 14px;
    font-family: Lucida Bright;
    width: 70%;
    height: 30%;
    margin-bottom: 10px;
    text-align: justify;
}

.download-resume{
    background-color: transparent;
    border:solid white 1px;
    color: white;
    font-family: Lucida Bright;
    text-decoration: none;
}

.download-resume:hover{
    border:solid purple 1px;
    color: purple;
    font-family: Lucida Bright;
    text-decoration: none;
}

.download-resume:active{
    border:solid purple 2px;
    color: purple;
    font-family: Lucida Bright;
    text-decoration: none;
}

.gitHub{
    color: white;
}

.gitHub:hover{
    color: purple;
}

.gitHub:active{
    color: purple;
}

.linkedin{
    color: white;
}

.linkedin:hover{
    color: purple;
}

.linkedin:active{
    color: purple;
}

.instagram{
    color: white;
}

.instagram:hover{
    color: purple;
}

.instagram:active{
    color: purple;
}






/* ----- Skills Container ------*/
#skills-container{
    padding-top: 15%;
}

.skill{
    color: white;
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
    font-family: Lucida Bright;
    padding-top: 10px;
    padding-bottom: 10px;
}

.skills-title1{
    color: white;
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
}

.sbox{
    background-color: transparent;
    border: solid purple 1px;
    padding-left: 5px;
    width: 50%;
    height: 30%;
    margin: auto;
    display: none;
    margin-bottom: 15px;
    border-radius: 1%;
    color: #212529;
}

.slink{
    color: #212529;
    text-decoration: none;
    background-color: transparent;
    all: unset;
}

.slink:hover{
    color: purple;
}

.closelink{
    position: relative;
    float: right;
    text-decoration: none;
    color: purple;
    border: solid purple 0.5px;
    font-weight: bold;
}

.closelink:hover{
    color: rgb(151, 2, 151);
    border: solid rgb(151, 2, 151) 1px;
}

.skcontainer{
    width: 55%;
    height: 35px;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid black;
    margin-bottom: 2px;
    margin: 0 auto;
}

.col{
    columns: 3;
    column-width: 300px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



/* ----- Projects Container ------*/
#projects{
    padding-top: 10%;
}

.tprojects{
    color: white;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
}

.projects-container{
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding-top: 5px;
    padding-bottom: 25px;
}

.project1, .project2, .project3, .project4{
    width: 75%;
    height: 5%;
    color: #212529;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: transparent;
    border: solid purple 2px;
}

.pbtn{
    text-align: center;
    padding-top: 105%;
}

.demo{
    background-color: transparent;
    color: #212529;
    all: unset;
    border: solid #212529 1px;
    border-radius: 4px;
}

.demo:hover{
    color: purple;
    border: solid purple 1px;
}

.demo:active{
    color: purple;
    border: solid purple 1px;
}

.code{
    background-color: transparent;
    color: #212529;
    all: unset;
    border: solid #212529 1px;
    border-radius: 4px;
}

.code:hover{
    color: purple;
    border: solid purple 1px;
}

.code:active{
    color: purple;
    border: solid purple 1px;
}


.pt1{
    text-align: center;
    font-size: 14px;
    padding-top: 5%;
    color: white;
}

.p1, .p2, .p3, .p4{
    margin-left: 3%;
}

.p1_p, .p2_p, .p3_p, .p4_p{
    margin-top: -1%;
    margin-left: 3%;
    color: #212529;
    font-size: 14px;
    margin-bottom: 3px;
}


/* ----- Contact Me Container ------*/
#contact{
    margin-bottom: -20%;
}

.contactMe{
    color: white;
    text-align: center;
    text-decoration: underline;
}

.contactMe-form{
    text-align: center;
    margin-bottom: 15px;
}

.iname, .icompany, .isub, .iemail, .icontent{
    margin-bottom: 3px;
    border: solid purple 1px;
    color: #212529;
    width: 27%;
    background-color: transparent;
}

.isubmit{
    background-color: purple;
}

.isubmit:hover{
    background-color: rgb(173, 1, 173);
}

} /* END */
